BasedOnStyle: LLVM

IndentWidth: 2

BreakBeforeBraces: Linux

AlwaysBreakAfterReturnType:           AllDefinitions
AlwaysBreakAfterDefinitionReturnType: All

AllowShortLoopsOnASingleLine:  true
AllowShortBlocksOnASingleLine: Empty

AlignConsecutiveMacros: Consecutive

# TODO: sorting includes breaks compilation
SortIncludes: Never
