BasedOnStyle: LLVM

IndentWidth: 2
ColumnLimit: 120

BreakBeforeBraces: Linux

AlwaysBreakAfterReturnType:           AllDefinitions
AlwaysBreakAfterDefinitionReturnType: All

AllowShortLoopsOnASingleLine:  true
AllowShortBlocksOnASingleLine: Empty

AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros:       Consecutive
AlignConsecutiveAssignments:  Consecutive
AlignTrailingComments:        Always

# TODO: sorting includes breaks compilation
SortIncludes: Never
